@media all and (max-width: 320px) {
    .containerHomepage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.containerHomepage {
    max-width: 588px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 1px 7px -1px;
    margin-top: 2.5rem;
}