.ContainerProfil {
    width: 45rem;
    transform: translateY(25%);
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 13px #555;
    background: #fff;
}

.ContainerProfil .containerDeleteChangePw {
    display: flex;
    justify-content: space-between;
}

.ContainerProfil .profilTop {
    display: flex;
    justify-content: space-between;
}