form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h4 {
    margin-top: 0;
    margin-bottom: 0;
}

form textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

form button {
    margin: 0.5rem;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    width: 8rem;
    justify-content: center;
    background: orangered;
    color: white;
}