.login {
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -100%;
    display: flex;
    justify-content: center;
    color: #18dcff;
    height: 100vh;
}

#sign-up-form {
    border: 1px solid black;
    margin: 3rem auto 0;
    max-width: 50%;
    max-width: 350px;
    height: 300px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    border: 1px solid #18dcff;
    background: #363434;
    padding: 0 30px 10px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);
    color: #18dcff;
}

#sign-up-form h1 {
    display: flex;
    justify-content: center;
}

input {
    /* padding: 4px 0 2px; */
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background: none;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.1rem;
    border-bottom: 1px solid#cec950;
    color: whitesmoke;
}

#sign-up-form #validation {
    font-size: 1.3rem;
    margin-top: 15px;
    color: #ff4500;
    border: none;
    cursor: pointer;
    transition: .2s;
    width: 100%;
}

#sign-up-form .errinscription {
    color: whitesmoke;
}

#sign-up-form #validation:hover {
    letter-spacing: 2px;
}

#sign-up-form .success {
    color: rgb(14, 233, 14);
}

#sign-up-form .gotoSignup {
    color: #ec7b52;
}