@media all and (max-width: 320px) {
    .postContainer textarea {
        width: 81%;
        height: 48px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
}


/* .postContainer {
    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
} */

.postContainer .imgTitre {
    display: flex;
    justify-content: center;
}

.postContainer .imgPic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 1px 7px -1px;
}

.postContainer textarea {
    width: 50%;
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.postContainer .contTextarea {
    display: flex;
    justify-content: center;
}

.postContainer .contimgPrev {
    display: flex;
    justify-content: center;
}

.postContainer .contimgPrev img {
    display: block;
    width: 15%;
}

.footerForm {
    display: flex;
    justify-content: center;
}

.footerForm input[type="file"] {
    opacity: 0;
}

.footerForm .btns .cancel {
    display: inline-block;
    cursor: pointer;
    color: orangered;
    border: none;
    background: none;
}

.footerForm .btns .sendMsg {
    display: inline-block;
    cursor: pointer;
    color: orangered;
    border: none;
    background: none;
}

.footerForm label {
    display: inline-block;
    cursor: pointer;
    color: orangered;
}

.footerForm label :hover {
    color: rgba(250, 143, 104, 0.836);
}

.footerForm .btns .sendMsg :hover {
    color: rgba(250, 143, 104, 0.836);
}