.containerImg img {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 1px 7px -1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.labelModif label {
    margin-top: 1rem;
    margin-left: 0.8rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    width: 8rem;
    justify-content: center;
    background: orangered;
    color: white;
    margin-bottom: 0.5rem;
}

.labelModif label:hover,
.form input[type="submit"] {
    background: rgb(233, 131, 95);
}

.labelModif input[type="file"] {
    display: none;
}

form input[type="submit"] {
    margin-left: 0.8rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    width: 8rem;
    justify-content: center;
    background: orangered;
    color: white;
    margin-bottom: 0.5rem;
    border: none;
}