/* .register {
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -100%;
    display: flex;
    justify-content: center;
    color: #18dcff;
    height: 100vh;
} */