/* .register {
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -100%;
    display: flex;
    justify-content: center;
    color: #18dcff;
    height: 100vh;
} */

.success {
    display: flex;
    align-items: center;
    position: absolute;
    color: rgb(14, 233, 14);
    height: 2rem;
    right: 41rem;
    top: 101px;
}